body{
    background-color: rgba(57,62,70,255);
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
 
img{
  margin: auto;
  width: 640px; 
  padding: 50px; 
  margin-left: 500px;
}

table{
    font-family: arial, sans-serif;
}

img {
    max-height: 600px;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td, tr{
    color:darkgoldenrod;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

#__nuxt > div > h1 {
    text-align: center;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

#__nuxt > div > section > table > tr:nth-child(2) > td:nth-child(1) {
    color: orangered;
}
