body{
    background-color: rgba(57,62,70,255);
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
 
img{
  margin: auto;
  width: 640px; 
  padding: 50px; 
}

table{
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td, tr{
    color:darkgoldenrod;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}


 