#define REQ_BUF_SZ 70

#define SQL_HOSTNAME ""
#define SQL_USER ""
#define SQL_PASSWORD ""

#define SHIFTR_ADDRESS ""
#define SHIFTR_USER ""
#define SHIFTR_SECRET ""

#define DEVICE_LOCATION ""
#define DEVICE_ID ""
