body{
    background-color: rgba(57,62,70,255)!important;
}

img {
    width: 100%;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
}
#table {
    border: 1px solid white;    
}

#table > tbody > tr:hover { background-color: rgba(57,62,70,255); };

